<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Граббер изображений</title>
    </head>
    {% endblock %}
    <body>
        {% block header %}

        {% endblock %}
        {% block error %}

        {% endblock %}
        {% block content %}

        {% endblock %}
        {% block footer %}

        {% endblock %}
    </body>
</html>
