{% extends 'base.html.twig' %}

{% block header %}
    <div id="header" style="display:flex; flex-direction:row; justify-content:center; padding:20px; margin: auto;">
        <h1>Введите url страницы с изображениями:</h1>
    </div>
{% endblock %}
{% block error %}
    {% for flashMessage in app.flashes('error') %}
        <div class="flash-error" style="display:flex; flex-direction:row; justify-content:center; padding:20px; margin:auto; color:red; font-size:28px;">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}
{% block content %}
    <div id="content" style="display:flex; flex-direction:row; justify-content:center; padding:20px; margin: auto;">
        <form action="{{ path('start_image_scraper') }}" method="post">
            <label for="url" style="margin-left: 10px; font-size: 20px;">Url:</label>
            <input type="text" id="url" name="url" required style="font-size: 18px; padding: 10px;">
            <button type="submit" style="font-size: 18px; padding: 10px;">Go</button>
        </form>
    </div>
{% endblock %}
